@font-face {
    font-family: font1;
    src: url(Heavitas.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-image: url('./images/product-picutre.png');
    height: 100vh;
    background-size:80vw;
    background-repeat: no-repeat;
    background-position: center;
}

main section{
    padding: 30px;
}

main section h1{
    text-align: left;
    font-family: font1;
    color: rgb(255, 115, 0);
    width: fit-content;
    padding-right: 10px;
    position: relative;
}

main section h1:after{
    content: '';
    display: block;
    width: 100svh;
    position: absolute;
    left: 100%;
    top: 36%;
    height: 1px;
    background-color: rgb(255, 115, 0);
}

main section ul{
    padding: 20px 0px;
}

main section ul li{
    list-style: none;
    padding: 10px 0px;
    font-family: monospace;
    padding-left: 10px;
    position: relative;
}

main section ul li::before{
    content: '';
    top: 35%;
    rotate: 45deg;
    left: -8px;
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: rgb(255, 115, 0);
}

main section p{
    font-family: monospace;
    padding: 10px 0px;
    text-indent: 1.5rem;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5rem;
}

main #sobre{
    background-color: rgb(255, 115, 0);
}

main #sobre h1{
    color: #F5F7FA;
    margin-left: auto;
    padding-left: 10px;
}

main #sobre h1:after{
    display: none;
}

main section h1:before{
    content: '';
    display: block;
    width: 100svh;
    position: absolute;
    right: 100%;
    top: 36%;
    height: 1px;
    background-color: #F5F7FA;
}

main #sobre p{
    color: #ececff;
}

main #sobre p b{
    color: #dedede;
}

footer{
    background-color: #1C1C1E;
    padding: 20px;
}

footer h4{
    font-family: sans-serif;
    font-weight: bold;
    color: #dedede;
    padding: 10px 0px;
}

footer p{
    color: #F5F7FA;
    font-family: sans-serif;
    font-weight: 100;
    padding: 2px 0px;
}

footer h5{
    padding: 25px;
    text-align: center;
    color: #F5F7FA;
    font-family: monospace;
    font-weight: 100;
    text-align: center;
}

@media (min-width: 601px) {
    header nav ul{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 20px 0px;
    }
    
    header nav ul li{
        text-align: center;
        margin: 5px 10px;
    }
    
    header nav ul li a{
        text-decoration: none;
        color: #5d5a56;
        font-family: monospace;
        font-weight:100;
        background-color: transparent;
        border: 1px solid rgb(255, 115, 0);
        padding: 10px 30px;
        width: 200px;
        border-radius: 10px;
    }
    
    header nav ul li a:hover{
        background-color: rgb(255, 115, 0);
        color: white;
    }
}

@media (max-width: 600px) {
    header{
        background-image: url('./images/product-picutre-mobile.png');
        background-size: cover;
    }

    header nav{
        position: absolute;
        top: 0;
        left: -100svw;
        transition: .5s;
        transition: .4s ease;
    }

    header nav ul{
        height: 100svh;
        background-color: #F5F7FA;
    }

    header nav ul li a{
        display: inline-block; /* ou block */
        padding: 30px 30px;
        text-decoration: none;
        color: #6E6E73;
        font-family: monospace;
        border-bottom: 1px solid #5d5a56;
        width: 100svw;
        background-color: #F5F7FA;
    }   

    #menu-hamburguer{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 1000;
    }

    #menu-hamburguer div{
        width: 40px;
        height: 6px;
        background-color: #ebebeb;
        rotate: 360deg;
        margin: 3px 0;
        border-radius: 5px;
        transition: 0.4s;
    }

    #menu-hamburguer.open div{
        background-color: rgb(255, 115, 0);
    }
    

    #menu-hamburguer.open div:nth-child(1){
        transform: rotate(-45deg) translate(-9px, 8px);
    }
    #menu-hamburguer.open div:nth-child(2){
        opacity: 0;
    }
    #menu-hamburguer.open div:nth-child(3){
        transform: rotate(45deg) translate(-8px, -8px);
    }
  
    #menu-hamburguer.open + nav{
        left: 0;
        transition: 0.4s;
    }

}