@font-face {
    font-family: font1;
    src: url(Heavitas.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    overflow-x: hidden;
}

header{
    background-image: url('./images/product-picutre.png');
    height: 100vh;
    background-size:80vw;
    background-repeat: no-repeat;
    background-position: center;
}

main #beneficios{
    padding: 30px;
}

main section h1{
    text-align: left;
    font-family: font1;
    color: rgb(255, 115, 0);
    width: fit-content;
    padding-right: 10px;
    border-radius: 50px;
    position: relative;
}

main section h1:after{
    content: '';
    display: block;
    width: 100vw;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    height: 3px;
    background-color: rgb(255, 115, 0);
}

main section ul{
    padding: 20px 0px;
}

main section ul li{
    list-style: none;
    padding: 10px 0px;
    font-family: monospace;
    padding-left: 10px;
    position: relative;
}

main section ul li::before{
    content: '';
    top: 35%;
    rotate: 45deg;
    left: -8px;
    height: 8px;
    width: 8px;
    position: absolute;
    background-color: rgb(255, 115, 0);
    animation: rotate 2s linear infinite;
}

main section p{
    font-family: monospace;
    padding: 10px 0px;
    text-indent: 1.5rem;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5rem;
}

/* main section div h1{
    animation: coming-left ease;
    animation-timeline: scroll(); 
    animation-range: 0vh 70vh; 
    will-change: transform; 
} */

main #sobre{
    background-color: rgb(255, 115, 0);
    height: 50vh;
    display: flex;
}

main #sobre img{
    margin-left: 30px;
    max-width: 50vw;
    width: 100%;
}

main #sobre div{
    width: 50vw;
    height: 100%;
        padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main #sobre h1{
    color: #F5F7FA;
    margin-left: auto;
    padding-right: 4px;
    padding-left:7px;
    /* animation: coming-right ease;
    animation-timeline: scroll(); 
    animation-range: 0vh 70vh;  */
    will-change: transform;
}

main #sobre h1:after{
    display: none;
}

main section h1:before{
    content: '';
    display: block;
    width: 100vw;
    position: absolute;
    right: 100%;
    top: 36%;
    height: 3px;
    background-color: #F5F7FA;
}

main #sobre p{
    color: #ececff;
}

main #sobre p b{
    color: #dedede;
}

footer{
    background-color: #1C1C1E;
    padding: 20px;
}

footer h4{
    font-family: sans-serif;
    font-weight: bold;
    color: #dedede;
    padding: 10px 0px;
}

footer p{
    color: #F5F7FA;
    font-family: sans-serif;
    font-weight: 100;
    padding: 2px 0px;
}

footer h5{
    padding: 25px;
    text-align: center;
    color: #F5F7FA;
    font-family: monospace;
    font-weight: 100;
    text-align: center;
}

@keyframes rotate {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

@keyframes coming-right {
    from{
        transform:translateX(-100vh);
    }
    to{
        transform: translate(0);
    }
}

@keyframes coming-left {
    from{
        transform:translateX(100vh);
    }
    to{
        transform: translate(0);
    }
}


@media (min-width: 601px) {
    header nav ul{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 20px 0px;
    }
    
    header nav ul li{
        text-align: center;
        margin: 5px 10px;
    }
    
    header nav ul li a{
        text-decoration: none;
        color: #5d5a56;
        display: block;
        font-family: monospace;
        font-weight:100;
        background-color: transparent;
        border: 1px solid rgb(255, 115, 0);
        padding: 10px 30px;
        width: 170px;
        border-radius: 10px;
        transition: .3s ease-in-out;
    }
    
    header nav ul li a:hover{
        background-color: rgb(255, 115, 0);
        color: white;
        transition: .3s ease-in-out;
        scale: 1.2;
    }

    main section h1{
        font-size: 4rem;
    }

    main section p{
        font-family: sans-serif;
        font-size: 2rem;
        line-height: 2.2rem;
        text-align: justify;
    }

    #beneficios ul li {
        font-size: 2rem;    }
}

@media (min-width: 600px) and (max-width: 1500px) {
    main #sobre{
        width: 100vw;
    }

    main #sobre div{
        width: 100vw;
        padding: 0px 50px;
    }

    main #sobre img{
        display: none;
    }
}

@media (max-width: 600px) {
    header{
        background-image: url('./images/product-picutre-mobile.png');
        background-size: cover;
    }

    header nav{
        position: absolute;
        top: 0;
        left: -100vw;
        transition: .5s;
        transition: .4s ease;
    }

    header nav ul{
        height: 100vh;
        background-color: #F5F7FA;
    }

    header nav ul li a{
        display: inline-block; /* ou block */
        padding: 30px 30px;
        text-decoration: none;
        position: relative;
        color: #6E6E73;
        font-family: monospace;
        border-bottom: 1px solid #5d5a56;
        width: 100vw;
        background-color: #F5F7FA;
        overflow: hidden;
        text-align: center;
    }

    header nav ul li a:before{
        content: '';
        position: absolute;
        background-color: rgb(255, 115, 0);
        left: -50%;
        top: -50px;
        height: 200%;
        width: 55px;
        rotate: 34deg;
        transition: .2s ease-in-out;
    }

    header nav ul li a:hover::before{
        left: -10px;
        transition: .2s ease-in-out;
    }

    #menu-hamburguer{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 1000;
    }

    #menu-hamburguer div{
        width: 40px;
        height: 6px;
        background-color: #ebebeb;
        rotate: 360deg;
        margin: 3px 0;
        border-radius: 5px;
        transition: 0.4s;
    }

    #menu-hamburguer.open div{
        background-color: rgb(255, 115, 0);
    }
    

    #menu-hamburguer.open div:nth-child(1){
        transform: rotate(-45deg) translate(-9px, 8px);
    }
    #menu-hamburguer.open div:nth-child(2){
        opacity: 0;
    }
    #menu-hamburguer.open div:nth-child(3){
        transform: rotate(45deg) translate(-8px, -8px);
    }
  
    #menu-hamburguer.open + nav{
        left: 0;
        transition: 0.4s;
    }

    main #sobre{
        width: 100vw;
        height: fit-content;
        padding: 40px 0px;
    }

    main #sobre div{
        width: 100vw;
        padding: 0px 25px;
    }

    main #sobre img{
        display: none;
    }

}
